@font-face {
    font-family: 'MontserratArabic';
    src: url('../fonts/MontserratArabic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratArabic';
    src: url('../fonts/MontserratArabic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratArabic';
    src: url('../fonts/MontserratArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}


body {
    margin: 0;
    font-family: 'MontserratArabic', sans-serif;
    font-weight: 700;
    direction: rtl;
    background: #403F45FF; 
    position: relative;
    overflow-x: hidden;
}

/* طبقة الشفافية */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at top,
        rgba(255, 215, 0, 0.18),
        rgba(0, 0, 0, 0.85)
    );
    z-index: -1;
    pointer-events: none;
}

.container {
    max-width: clamp(90%, 420px, 480px);
    margin: clamp(40px, 10vh, 120px) auto;
    text-align: center;
    padding: 0 12px;
}

.card {
    background: #1c1c1c;
    display: flex;
    align-items: stretch; 
    border-radius: 16px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 15px #F0B91DFF;
}

/* محتوى النص */
.card-content {
    flex: 1;
    text-align: center;
}

/* مكان اللوقو */
.card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

/* اللوقو نفسه */
.card-logo img {
    height: 100%;      /* نفس طول الكارد */
    max-height: 120px; /* عدلها حسب ذوقك */
    width: auto;
}

.brand h1 {
    margin: 0;
    line-height: 1;  /* مهم عشان النص ما ينزل */
    margin-bottom: 30px;
    font-size: 66px;
    display: inline-flex;
}

.card-content p {
    margin-top: 20px;
    font-size: 40px;
    color: #FFF;
}

.card-content span {
    display: block;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #F0B91DFF;
}

.info {
    font-size: 30px;
    color: #FFF;
}

.cont {
    display: flex;
    text-align: center;
    max-width: 500px;
    margin: auto;
}