body {
    margin: 0;
    background: #0f0f0f;
    color: gold;
    font-family: Tahoma, Arial;
}

.container {
    max-width: clamp(90%, 420px, 480px);
    margin: clamp(40px, 10vh, 120px) auto;
    text-align: center;
    padding: 0 12px;
}

.main {
    display: flex;
    align-items: center;      /* محاذاة عمودية */
    justify-content: center;  /* محاذاة أفقية */
    gap: 12px;
    margin-bottom: 20px;
}

.logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.brand h1 {
    margin: 0;
    line-height: 1;  /* مهم عشان النص ما ينزل */
    margin-bottom: 30px;
    font-size: 66px;
    display: inline-flex;
}

.card {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(255,215,0,0.25);
}

.card p {
    margin: 0;
    font-size: 48px;
    color: #ccc;
}

.card span {
    display: block;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.info {
    font-size: 30px;
    color: #ccc;
}