body {
    margin: 0;
    background: #0f0f0f;
    color: gold;
    font-family: Tahoma, Arial;
}

.container {
    max-width: 420px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
}

.card {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(255,215,0,0.25);
}

.card p {
    margin: 0;
    font-size: 18px;
    color: #ccc;
}

.card span {
    display: block;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}
