<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>الدهابي | سعر الذهب</title>

    <!-- ربط ملف الـ CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="main">
        <h1>الدهابي</h1>
        <img src="static/logo.png" alt="شعار الدهابي" class="logo">
    </div>

    <div class="card">
        <p>سعر الذهب (جرام)</p>
        <span id="price">...</span>
    </div>
    <p class="info">هذا الموقع يعرض سعر الذهب لحظة بلحظة , السعر المكتوب هو لجرام الذهب عيار الحكومة (875) , بالعملة المحلية </p>
</div>

<script>
function loadPrice(){
    fetch("/api/price")
      .then(res => res.json())
      .then(data => {
        document.getElementById("price").innerText =
          Number(data.gold_price).toLocaleString("en-US") + " جنيه";
      });
}

loadPrice();
setInterval(loadPrice, 60000);
</script>

</body>
</html>
