<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>الدهابي | سعر الذهب</title>

    <!-- ربط ملف الـ CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
    <div class="card-logo">
        <img src="static/logo.png" alt="logo">
    </div>
    <div class="card-content">
        <p>سعر جرام الذهب :<p>
        <span id="price">...<span>
    </div>
    </div>
    <div class="cont">
        <p class="info">هذا الموقع يعرض سعر الذهب لحظة بلحظة , السعر المكتوب هو لجرام الذهب عيار الحكومة (875) بالعملة المحلية.</p>
    </div>
</div>

<script>
function loadPrice(){
    fetch("/api/price")
      .then(res => res.json())
      .then(data => {
        document.getElementById("price").innerText =
          Number(data.gold_price).toLocaleString("en-US") + " جنيه سوداني";
      });
}

loadPrice();
setInterval(loadPrice, 60000);
</script>

</body>
</html>
